:root{
  --primary-red: #ce1212;
  --secondary-color: rgb(255, 255, 255);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
/* NAV */
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  height: 80px;
  padding: 20px 20px;
  border-bottom: 2px solid black;
}
ul {
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul li{
  display: flex;
  list-style: none;
}
li a{
  margin-right: 65px;
  font-size: 26px;
  text-decoration: none;
  color: rgb(15, 15, 15);
}
.btn{
  font-size: 26px;
  padding: 12px;
  background-color: var(--primary-red);
  border-radius: 5px;
  color: white;
  border: 1px solid rgb(194, 103, 103);
}
.navbar-brand {
  text-decoration: none;
  padding: 8px;
  font-size: 38px;
  color: black;
  font-weight: 500;
}
.btn:hover{
  transition: all 0.5s;
  color: black;
  cursor: pointer;
  background-color: #f52e2e ;
}
.navbar-brand span{
  color: var(--primary-red);
}
/* Header */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 233, 233);
  padding: 95px 50px;
}
.title{
 font-family: 'Amatic SC', cursive;
 font-size: 96px;
}
.container-title{
  padding-bottom: 40px;
  padding-right: 50px;
}
.title-description{
 font-size: 24px;
 margin-right: 100px;
 padding-top: 10px;
 padding-bottom: 20px;
}
img{
  width: 525px;
  height: 525px;
  padding-top: 40px;
}
.btn-seeMore{
  background-color: var(--secondary-color) ;
  color: black;
  border: 2px solid black;
  margin-right: 10px;
}
.btn-seeMore:hover{
  color: var(--primary-red);
  font-weight: 500;
  background-color: white;
}
/* Animation img */
@keyframes scaleAnimation {
  0% {
    transform: scale(0.9); 
  }
  50% {
    transform: scale(1); 
  }
  100% {
    transform: scale(0.9); 
  }
}

img {

  animation: scaleAnimation 3s infinite;
}
.burger{
  width: 55px;
  height: 55px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  right: 20px;
  display: none;
}
@media only screen and (max-width: 1200px) {
  .title{
    margin-bottom: 20px;
  }
 .container{
  /* background-color: red; */
 flex-direction: column;
 }
 .container-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .title-description{
 padding: 40px;
 margin-left: 30px;
 text-align: center;
 }
 .burger{
  display: block;
  z-index: 1000;
  margin-top: 26px;
 }

  ul{
  position: absolute;
  left: -700px;
  top: 250px;
 }
 ul.showNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; 
  transition: left 0.4s ease-in-out;
}

 ul li a{

  color: white;
  padding: 10px;
   background-color: var(--primary-red);
 }
}

.burger-line {
  width: 30px;
  margin-bottom: 6px;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}
.burger-line {
  width: 30px;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
  background-color: #ce1212;
}

.burger.stylized .burger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.burger.stylized .burger-line:nth-child(2) {
  opacity: 0;
}

.burger.stylized .burger-line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* MAIN */
main{
  background-color: rgb(241, 233, 233);
  padding-top: 20rem;
  padding-bottom: 250px;
}
.container-menu{
  width: 500px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: -32.5px;
  z-index: 100;
}
.btn-menu{
  font-size: 26px;
  width: 150px;
  height: 60px;
  padding: 12px;
  background-color: var(--primary-red);
  border-radius: 5px;
  color: white;
  border: 1px solid rgb(194, 103, 103);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn-menu.up {
  margin-bottom: 20px;
  transition: 0.5s ease;
}
.container-menu-items{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(212, 199, 199);
 height: 400px;
 width: 1000px;
 margin: 0 auto;
 border-radius: 5px;
 color: black;
 font-weight: 500;
 font-size: 20px;

}
/* MenuItems */
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#img{
  width: 275px;
  height: 275px;
}
.meals{
  margin: 20px auto;
}
.menuTitle{
font-size: 24px;
color: black;
text-align: center;
}
.menuIngredients{
font-size: 18px;
color: rgb(61, 61, 61);
text-align: center;
}
.menuPrice{
font-size: 28px;
font-weight: bold;
color: var(--primary-red);
text-align: center;
margin-top: 10px;
}
/* SlIDER */
section{
  margin-top: 10rem;
  width: 1200px;
}
.container-slider{
  background-color: rgb(81, 185, 145);
  margin-top: 17rem;
  width: 50rem;
  margin: 0 auto;
  height: 30rem;

}
.slider{
  position: relative;
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* width: 50rem; */
  /* overflow: hidden; */
  
}
.slider-child{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  transition: ease-out 1s;
  height: 30rem;
  z-index: 5;
}
.slider-first {
  background-color: red;
  transform: translateX(-100%); 
}

.slider-second {
  background-color: green;
  /* transform: translateX(0); */
}

.slider-third {
  background-color: blue;
  transform: translateX(100%);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.prevSlider {
  left: 5rem;
}

.nextSlider {
  right: 5rem;
}
